.idea/

temp/
/assets/540p/generals
/__pycache__
/config/__pycache__
/core/__pycache__
/core/custom_widgets/__pycache__
/core/services/__pycache__
/core/controllers/__pycache__
/utils/__pycache__
/gui/widgets/__pycache__
/db/models/__pycache__
/features/logic/__pycache__
/features/__pycache__
/features/ui/__pycache__
/features/utils/__pycache__
/gui/controllers/__pycache__
/gui/generated/__pycache__
/db/__pycache__
resources/resources_rc.py
