.idea/
.vscode/
.claude/
.venv/
.env
temp/
build/
__pycache__/
**/__pycache__/
**/db/task_ex.db
db/task_ex.db
assets/540p/generals/
resources_rc.py
*.log
convert.txt
TaskEnforcerX.egg-info/
/_dev
/mcp-extensions/node_modules
#convert.txt
mcp-extensions/taskex.config.json
/mcp-extensions/dist
adb.cmd
db/task_ex - Copia.db
/db/backups
